@font-face {
  font-family: "Arabic";
  src: url("./ArabQuranIslamic140-K7n4W.ttf");
}
body {
  margin: 0;
  /* display: flex; */

  font-family: "Noto Nastaliq Urdu", serif;
}

.container {
  width: 100%;
  text-align: center;
  padding: 40px 120px;
  display: inline;
  justify-content: center;
  align-items: center;
}

#arabic {
  font-size: 42px;
  line-height: 2;
  direction: rtl;
  margin-bottom: 30px;
  font-family: "Arabic";
}

#wordByWord {
  font-size: 20px;
  margin-bottom: 25px;
}

#urdu {
  font-size: 28px;
  line-height: 2;
  margin-bottom: 20px;
}

#reference {
  font-size: 18px;
  /* color: #64748b; */
}
#refreshBtn {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
}

#ThemeToggler {
  position: absolute;
  bottom: 5px;
  left: 5px;
}

button {
  margin-top: 30px;
  padding: 12px 25px;
  border: none;
  background: #15803d;
  color: white;
  cursor: pointer;
  border-radius: 8px;
}
